$button-color1: #2788ff;
$button-color2: #ff9e27;
$button-color3: #88ff27;
$button-color4: #9e27ff;
$button-border-color: #22B24C;    
$background-color1: #2788ff;
$background-color2: #27f4ff;
$font1: 'Homemade Apple', cursive;

