@import "utilities/App";

.navbar {
    background-color:#2788ff;	
    border-radius: $roundbtn;
    font-family: cursive;
}
.btn {
    background-color:$button-color4;
    border-color: #22B24C;
    box-shadow: 20px 20px 20px black;
    font-family: cursive;
    border-radius: $roundbtn;
}



