@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import "utilities/App";


.type {
    font-family: 'roboto';
    font-size: 44px;
}

.ml-auto {
    justify-content: center;
}

.navbar {
    padding: 0px;
    padding-left: 15px;
}

.nav-link {
    justify-content: center;
}

.btn {
    padding-right: 15px;
}

img  {
    height: 150px;
}






