@import "utilities/App";

#signup-form{
    color: rgb(25,0, 255);
}
<<<<<<< HEAD
.card-title {
    color: rgb(25,0, 255);
}
.card-title{
    font-family: 'Homemade Apple', cursive;
    color: yellow;

}
=======
// .card-title {
//     font-family: 'Nanum Pen Script', cursive;
// }
// .form-label {
//     font-family: 'Nanum Pen Script', cursive;
// }
// .link {
//     font-family: 'Nanum Pen Script', cursive;
// }
// #signup-form {
//     font-family: 'Nanum Pen Script', cursive;

// }
>>>>>>> master
