@import "utilities/App";
@import url('https://fonts.googleapis.com/css?family=Catamaran|Handlee&display=swap');
#signup-form{
    color: rgb(25,0, 255);
}
// .card-title {
//     font-family: 'Nanum Pen Script', cursive;
// }
// .form-label {
//     font-family: 'Nanum Pen Script', cursive;
// }
// .link {
//     font-family: 'Nanum Pen Script', cursive;
// }
// #signup-form {
//     font-family: 'Nanum Pen Script', cursive;

// }
