@import "utilities/App";
@import url('https://fonts.googleapis.com/css?family=Catamaran|Handlee&display=swap');

.jumbotron {
    background-color: #E492AC;
    opacity: .9;
    font-family: 'catamaran';
    font-size: 80px;
    box-shadow: 5px 5px 5px black;

}
h1 {
    font-family: Catamaran;
}
.list-group-item {
    font-family: Handlee;
    font-size: 24px;
    box-shadow: 5px 5px 5px black;
}
.form-control {
    font-family: Handlee;
    font-size: 24px;
    box-shadow: 5px 5px 5px black;

}
.form-group {
    font-family: Catamaran;
    // box-shadow: 5px 5px 5px black;

}
