@import "utilities/App";
@import url('https://fonts.googleapis.com/css?family=Catamaran|Handlee&display=swap');

.jumbotron {
    font-family: 'catamaran';
    background-image: url({LogoImage});
}
h1 {
    font-family: Catamaran;
}
.list-group-item {
    font-family: Handlee;
}
.form-control {
    font-family: Handlee;
}
.form-group {
    font-family: Catamaran;
}
