.details {
    font-family: cursive;
    background-color: red;
}
.form-control{
    font-size: 20px;
    // font-family: 'Nanum Pen Script', cursive;
}

.container-1 {
    background-image: url("https://cdn.pixabay.com/photo/2015/05/05/01/10/house-753270_1280.jpg");
    z-index: 1;
}
.mt-4 {
    opacity: .1;
    z-index: -1;
    color: black;
    position: inherit;
    
}
.btn {
    box-shadow: 10px 10px 10px gray;
background-color: #2788ff;
border-color: #2788ff;
// font-family: 'Nanum Pen Script', cursive;
}
.detailstwo {
    // font-family: 'Nanum Pen Script', cursive;
    font-family: 'Handlee', cursive;

}
.items {

        // font-family: 'Nanum Pen Script', cursive;
        font-family: 'Handlee', cursive;
    
}
