
.form-control{
    font-size: 20px;
    box-shadow: 5px 5px 5px black;
    // background-color: #AEB972;
    // font-family: 'Nanum Pen Script', cursive;
}
form {
    // box-shadow: 5px 5px 5px black

}
.container-1 {
    background-image: url("https://cdn.pixabay.com/photo/2015/05/05/01/10/house-753270_1280.jpg");
    z-index: 1;
}
.mt-4 {
    opacity: .1;
    z-index: -1;
    color: black;
    position: inherit;
    box-shadow: 5px 5px 5px black;

    
}
.btn {
    box-shadow: 5px 5px 5px black;
background-color: #AEB972;
border-color: #AEB972;
// font-family: 'Nanum Pen Script', cursive;
}
.detailstwo {
    // font-family: 'Nanum Pen Script', cursive;
    font-family: 'Handlee', cursive;
    box-shadow: 5px 5px 5px black;


}
.items {

        // font-family: 'Nanum Pen Script', cursive;
        font-family: 'Handlee', cursive;
        box-shadow: 5px 5px 5px black;
}
.fbook {
    display: inherit;
    position: inherit;
}
