@import "utilities/App";
@import url('https://fonts.googleapis.com/css?family=Catamaran|Handlee&display=swap');

.delete-btn {
  float: right;
  background-color: red;
  padding: 5px;
  color: white;
  height: auto;
  width: auto;
  font-family: catamaran;
}
