@import "utilities/App";
.delete-btn {
  float: right;
  color: #01f801;
<<<<<<< HEAD
}

// .delete-btn:hover{
//   cursor: grab;
// }
=======
  padding-left: 20px;
  height: auto;
  width: auto;
}
>>>>>>> oscar-branch
