@import "utilities/App";
@import url('https://fonts.googleapis.com/css?family=Catamaran|Handlee&display=swap');

h3, h4 {
    font-family: catamaran;
    font-size: 34px;
}
.side-menu {
    font-family: catamaran;
    font-size: 24px;
   
}