@import "utilities/App";
@import url('https://fonts.googleapis.com/css?family=Catamaran|Handlee&display=swap');

h3 {
    font-family: catamaran;
    font-size: 34px;
    // box-shadow: 5px 5px 5px black;

}
.side-menu {
    margin-top: 10px;
    font-family: catamaran;
    font-size: 24px;
    // box-shadow: 5px 5px 5px black;  
}